//Colors
$colors: (

  primary:    #1a73e8,
  blue:       #488aff,
  secondary:  #32db64,
  success:    #35DBAF,
  warning:    #f4c411,
  danger:     #f53d3d,
  light:      #f7f7f7,
  dark:       #181818,
  black:       #000000,
  darkgray:   #232e33,
  ink:        #161d33,
  white:      #ffffff
);


$l-size : 4.2rem;
$m-size :  1.6rem;
$s-size : 1.2rem;
$xl-size :  6rem;
